@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav */

a {
    text-decoration: none;
  }
  
  .sidebar {
    background-color : black;
    width: 250px;
    height: 100vh;
  }
  
  .sidebar > img {
    margin:1em 0;
    width:100%;
  }
  
  .sidebar > ul {
    list-style: none;
    padding:0;
  }
  
  .sidebar > ul > li {
    margin:0.5em 1em;
    padding:0.5em;
    font-weight: bold;
  }
  
  .sidebar > ul > li:hover{
    background:#222;
  }
  
  .sidebar ul li a:link, 
  .sidebar ul li a:visited, 
  .sidebar ul li a:active {
    text-decoration: none;
    color:white;
  }
/* end nav */
